
.body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/*
header {
    background-color: #c8e0e2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.nav-link{
    color: #070707;
    text-decoration: none; 
    font-size: 20px; 
    margin-right: 60px;
}
.nav-link-inicio:hover{
    font-size: 120%;
}
.nav-link-nosotros:hover{
    font-size: 120%;
}
.nav-link-destino:hover{
    font-size: 120%;
}
*/
/* Estilo para el encabezado (header) */
header {
    background-color: #79d4dc;
    color: #fff;
    text-align: left;
    padding: 8px 0;
}


/* Estilo para los enlaces de navegación (nav-link) */
a{
    color: #ffffff; /* Color de texto deseado */

/* Estilos generales para restablecer los márgenes y rellenos predeterminados */
body, ul, ol {
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    margin-left:0px; /* Corrección en la propiedad margin */
    width: 500px;
    font-family: Arial;
}


/* Estilos para listas no ordenadas y ordenadas */
ul, ol {
    list-style: none;
}


/* Estilos para la barra de navegación */
.menu-horizontal {
    list-style: none;
    padding: 0;
    display: flex; /* Hace que los elementos se muestren en una fila horizontal */
    background-color: #0f7d8a;
    position: fixed; /* Barra de navegación fija en la parte superior */
    top: 0; /* Barra de navegación en la parte superior de la página */
    width: 100%; /* Ancho completo de la página */
    z-index: 999; /* Asegura que la barra de navegación esté por encima de otros elementos */
   
}

.menu-horizontal .nav-link {
    margin-right: 20px; /* Espacio a la derecha de cada elemento del menú */
}

.menu-horizontal .nav-link a {
    color: #070707; /* Color de texto deseado */

    text-decoration: none; /* Elimina el subrayado */
    font-size: 20px; /* Tamaño de fuente deseado */
}

.menu-horizontal .nav-link a:hover {
    font-size: 120%;
}
/* Estilos para el menú horizontal */
.menu-horizontal li a {
    background-color:#0f7d8a /* Color de fondo deseado */;
    color:rgb(255, 255, 255) /* Color del texto deseado */;
    text-decoration: none;
    padding: 10px 10px; /* Espaciado superior e inferior de 10px, espaciado izquierdo y derecho de 15px */
    display: block;
    font-family: 'Signika', sans-serif;
}

/* Estilos para el enlace cuando se coloca el cursor encima (hover) */
.menu-horizontal li a:hover {
    background-color:#1a93a0 /* Color de fondo deseado en hover */;
}


/* Estilos para los elementos de nivel superior del menú horizontal */
.menu-horizontal > li {
    float: left;
}

/* Estilos para ocultar el submenú */
.menu-horizontal li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

/* Estilos para mostrar el submenú cuando se hace hover en el elemento padre */
.menu-horizontal li:hover > ul {
    display: block;
}

/* Estilo para el encabezado cuando está en versión móvil*/
@media (max-width: 768px) {
    header {
        padding: 10px; /* Reducir el espacio de relleno en dispositivos móviles */
    }
    .nav-link {
        margin: 0 10px; /* Espacio entre enlaces en dispositivos móviles */
    }
}
.parte-inicio {
    text-align: center;
    position: relative;
}

.principal-inicio {
    width: 100%;
    display: block;
    max-width: 100%;
    height: 0 auto;
    
}

.titulo {
    position: absolute;
    top: 15%; /* Centra verticalmente el texto */
    left: 50%;
    transform: translate(-50%, -50%); /* Centra horizontalmente y verticalmente */
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
    color: #ffffff;
    text-align: center;
    padding: 9px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: justify;
    margin: 20px auto;
    max-width: 1500px;
    padding: 0 20px;
}
.images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}  
.images img {
    width: 350px;
    height: 250px;
}
.image {
    flex: 1;
    padding: 10px;
    text-align: center;
}
.image img {
    max-width: 350px;
    height: 250px;
}
footer {
    background-color: #104c8d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.elegi_tu_viaje {
  font-family: 'Signika', sans-serif; 
  background-color: #5D8AA8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin: 0 auto; 
  width: 200px; 
}

